body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-reddit {
  background-color: #ff4301;
}

.reddit-color {
  color: #ff4301;
}

.container {
  margin-top: 4rem !important;
}

.navbar {
  padding: 0.2rem 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}

.card-title {
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 0.2rem !important;
}

.card-text {
  font-size: 12px;
  font-weight: 700;
  color: #303030;
}

.card-text-author {
  font-size: 15px;
  font-weight: 500;
  color: #474747;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.card-text-time {
  font-size: 9px;
  font-weight: 600;
  color: rgb(255, 29, 29);
  padding: 0;
  margin: 0;
}

.time-sub {
  font-weight: normal;
}

.card {
  overflow: hidden;
  border: 0.9px solid transparent;
}

.card:hover {
  border: 0.9px solid #ff4301;
}

.card-body {
  padding: 0.8rem !important;
}

.small-text {
  font-size: 12px;
  color: #7e7e7e;
}

.user-icon {
  color: #ff4301;
  height: 35px;
  margin-right: 0.7rem;
}

.fa-icon {
  color: #999999;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.img-view {
  height: 300px;
}

.dropdown {
  height: 30px;
  min-width: 120px;
  max-width: 200px;
  font-size: 14px;
}
